connect target /
spool log to {{ oracle_stage }}/final_upgrade_backup.log
run
{
allocate channel backup_disk1 type disk;
allocate channel backup_disk2 type disk;
allocate channel backup_disk3 type disk;
allocate channel backup_disk4 type disk;
allocate channel backup_disk5 type disk;
allocate channel backup_disk6 type disk;
backup incremental level 0 cumulative as COMPRESSED BACKUPSET tag 'final_upgrade_full' database;
backup current controlfile tag 'final_upgrade_full';
release channel backup_disk1;
release channel backup_disk2;
release channel backup_disk3;
release channel backup_disk4;
release channel backup_disk5;
release channel backup_disk6;
}
