connect target /
spool log to {{ oracle_stage }}/pre_upgrade_backup.log
run
{
allocate channel backup_disk1 type disk;
allocate channel backup_disk2 type disk;
allocate channel backup_disk3 type disk;
allocate channel backup_disk4 type disk;
allocate channel backup_disk5 type disk;
allocate channel backup_disk6 type disk;
allocate channel backup_disk7 type disk;
allocate channel backup_disk8 type disk;
allocate channel backup_disk9 type disk;
allocate channel backup_disk10 type disk;
allocate channel backup_disk11 type disk;
allocate channel backup_disk12 type disk;
allocate channel backup_disk13 type disk;
allocate channel backup_disk14 type disk;
allocate channel backup_disk15 type disk;
allocate channel backup_disk16 type disk;
backup incremental level 1 cumulative as COMPRESSED BACKUPSET tag 'before_upgrade_inc' database;
backup current controlfile tag 'before_upgrade_inc';
release channel backup_disk1;
release channel backup_disk2;
release channel backup_disk3;
release channel backup_disk4;
release channel backup_disk5;
release channel backup_disk6;
release channel backup_disk7;
release channel backup_disk8;
release channel backup_disk9;
release channel backup_disk10;
release channel backup_disk11;
release channel backup_disk12;
release channel backup_disk13;
release channel backup_disk14;
release channel backup_disk15;
release channel backup_disk16;
}
